<template>
    <require from="./control-bar.css"></require>
    <div class="controls">
        <button class="button recognize" click.delegate="recognize()">Recognize</button>
        <button class="button interpret" click.delegate="interpret()">Interpret</button>
        <button class="button" click.delegate="clear()">Clear</button>
        <button class="button" click.delegate="writeSample()">Write Sample Text</button>
        <button class="button" click.delegate="writeBubbleSort()">Write BubbleSort</button>
    </div>
    <div class="progress" show.bind="isProcessing">Processing...</div>
</template>