.sidebar {
    background-color: #fafafa;
}

sidebar {
    display: flex;
    flex-direction: column;
}

.formatted-code {
    flex: 1;
}

.code-content {
    max-width: 400px;
    overflow-x: auto;
}

.console {
    flex: 0 0 200px;
}

.output {
    flex: 1;
}

.output-content {
    padding: 0 1rem;
    font-size: larger;
}

.console-content {
    height: 200px;
    overflow-y: scroll;
}